.addTodoForm {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;



  input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    width: 25%;
    padding: 10px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}