.todoItem {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  input[type='checkbox'] {
    margin-right: 10px;
    cursor: pointer;
  }

  span {
    word-break: break-word;
    margin-right: 10px;
  }

  button {
    background: #cc4444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
}
